<!DOCTYPE html>
<html lang="en" tabindex="0">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-control" content="public" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"
		/>
		<meta name="description" content="Connect with people nearby you." />
		<meta name="keywords" content="proximity-based social network, location-based social network, Yik Yak" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<!-- Icons & Theme-->
		<meta name="theme-color" content="#ffffff" />
		<link rel="icon" href="favicon.svg" />
		<link rel="mask-icon" href="mask-icon.svg" color="#262626" />
		<link rel="apple-touch-icon" href="apple-touch-icon.png" />
		<link rel="manifest" href="manifest.json" />

		<!-- Meta data for link fetching -->
		<meta property="og:url" content="https://locuz.app" />
		<meta property="og:image" content="https://locuz.app/banner.png" />
		<meta property="og:title" content="Locuz" />
		<meta property="og:description" content="Connect with people nearby you." />

		<title>Locuz</title>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script defer src="https://www.gstatic.com/firebasejs/9.4.0/firebase-app-compat.js"></script>
		<script defer src="https://www.gstatic.com/firebasejs/9.4.0/firebase-messaging-compat.js"></script>
		<script defer src="vue.min.js"></script>
		<script defer src="axios.min.js"></script>
		<script defer src="script.js"></script>
		<!-- Site scripts & styles -->
		<link href="style.css" rel="stylesheet" />
		<!-- 100% privacy friendly analytics -->
		<script src="https://analytics.locuz.app/hello.js"></script>
		<script type="text/javascript">
			if (window.location.hostname !== "locuz.app" && cabin) cabin.blockMe(true);
		</script>
	</head>

	<body>
		<main id="app" v-bind:style="'display:block'">
			<div class="container">
				<div id="toast" v-if="toast.message" v-bind:class="toast.type" v-on:click="toast.message = ''">
					{{toast.message}}
				</div>

				<div id="intro" v-if="!token">
					<div class="text-2 item">
						<span class="bold colored">Locuz</span> is a location-based social app that lets you connect with people
						nearby you or within a radius.
					</div>
				</div>

				<div id="handle" class="item" v-if="token && handle">
					<span class="colored" v-on:click="showSettings = true">{{handle}}</span>
				</div>

				<div class="item center small gray" v-if="locating || (fetchingPosts && !initFetchCompleted)">
					Loading. Please wait...
				</div>

				<div v-if="!online" id="offline" class="bg-transparent curved item center text-2 gray">
					App is offline.
				</div>

				<section class="bg-transparent curved" v-if="online && !(fetchingPosts && !initFetchCompleted)">
					<button
						class="full-width bold"
						v-if="!token && geoLocation && initFetchCompleted"
						v-on:click="showLogin = true"
					>
						{{posts.length > 0 ? "Join the" : "Start a"}} conversation
					</button>

					<div id="sharebox" class="text-2 item" v-if="token && geoLocation">
						<div id="placeholder" v-if="newPost.length <= 0">Share something here...</div>
						<div
							id="sharefield"
							v-bind:class="newPost.length > 160 ? 'red' : ''"
							contenteditable="true"
							v-on:input="setNewPostText($event)"
							v-on:keydown.enter="submitPost"
							v-on:paste="paste($event)"
						></div>
					</div>

					<section class="bg-transparent curved">
						<section id="posts" v-if="posts.length > 0">
							<div class="post item" v-for="(post, i) in posts" v-bind:key="post._id">
								<div class="flex">
									<div>
										<span>{{post.mentions.includes(handle) ? "🔥" : post.from.handle === handle ? "👤" : "📍"}}</span>
										<span class="bold handle" v-on:click="setMentions(post.mentions, post.from.handle)">
											{{post.from.handle}}</span
										>&nbsp;
										<span class="gray small">{{formatDate(post.date)}}</span>
									</div>
									<div>
										<span class="gray small">{{formatDistance(post.distance)}}</span>
										<a
											href="javascript:void(0)"
											v-if="post.from.handle === handle"
											class="small"
											v-on:click="deletePost(post._id)"
											>🗑️</a
										>
									</div>
								</div>
								<div class="body" v-html="linkify(post.text)"></div>
							</div>
						</section>

						<section id="noposts" v-if="initFetchCompleted && posts.length <= 0">
							<div class="item center gray">
								No posts here.<br />
								<span class="small" v-if="token">Try increasing the radius</span
								><span class="small" v-if="!token">Login to increase the radius</span>
							</div>
						</section>

						<button class="full-width bold" v-if="showLoadMore" v-on:click="getPosts()">Load more</button>
					</section>
				</section>
				<div class="spacer"></div>

				<section id="login" class="item animate" v-if="showLogin">
					<a href="javascript:void(0)" id="closeLogin" class="text-1" v-on:click="showLogin = false">&times;</a>
					<div class="wrap">
						<div class="text-1 item">Join Locuz</div>
						<input type="text" v-model="authCredentials.handle" placeholder="Handle / Username" />
						<div id="passwordwrap">
							<input
								v-bind:type="showPassword ? 'text' : 'password'"
								v-model="authCredentials.password"
								placeholder="Password"
								v-on:keydown.enter="login"
							/>
							<span
								id="showpass"
								class="gray"
								v-if="authCredentials.password"
								v-on:click="showPassword = !showPassword"
							>
								&#9728;
							</span>
						</div>
						<button class="bold" v-on:click="login">Log in</button>
						<div class="light center">or</div>
						<button class="bold ghost" v-on:click="register">Register</button>
						<div class="small gray center">By proceeding you agree to our <a href="terms.html">terms</a></div>
					</div>
				</section>

				<section id="settingswrap" v-if="showSettings">
					<div id="blanket" v-on:click="showSettings = false"></div>
					<div id="settings" class="animate">
						<div class="item link" v-on:click="onFeedChange()">
							<div class="semibold">📍 Nearby posts</div>
						</div>
						<div class="item link" v-on:click="onFeedChange('mentions')">
							<div class="semibold">🔥 Mentions & replies</div>
						</div>
						<div class="item flex space-between">
							<div class="semibold">Radius (in KM)</div>
							<input
								type="number"
								min="1"
								max="10000"
								size="5"
								class="center"
								v-model="radius"
								v-on:change="updateRadius"
							/>
						</div>
						<div class="item flex">
							<input type="password" v-model="newPassword" placeholder="New password" />
							<a href="javascript:void(0)" class="semibold" v-on:click="updatePassword">Update</a>
						</div>

						<div class="item link red bold" v-on:click="logout">
							Log out
						</div>
						<a class="item link" href="mailto:vasanth@locuz.app">For any queries, contact us</a>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
