:root {
	--white: #ffffff;
	--background: #e7ecf0;
	--background-trans: rgba(255, 255, 255, 0.7);
	--light: #f6f6f6;
	--text: #262626;
	--gray: #888888;
	--green: #2ecc71;
	--red: #e74c3c;
	--brand-color-1: #eb3293;
	--brand-color-2: #fabb52;
}
* {
	outline: 0;
}
html {
	-webkit-overflow-scrolling: touch;
}
body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
}
a {
	color: inherit;
	text-decoration: underline;
}
button {
	font-family: inherit;
	background: var(--text);
	border: none;
	border-radius: 0.5rem;
	padding: 0.7rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	color: var(--background);
	border: 2px solid var(--text);
}
button.full-width {
	background: none;
	border-top: 0px;
	border-bottom: 1px solid var(--light);
	border-left: none;
	border-right: none;
	color: var(--text);
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
}
input[type="text"],
input[type="number"],
input[type="password"] {
	background: var(--light);
	color: var(--text);
	display: block;
	border: none;
	font: inherit;
	font-size: 1rem;
	padding: 0px;
	border-radius: 5px;
	box-sizing: border-box;
}
button.ghost {
	background: var(--white);
	color: var(--text);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input::placeholder {
	opacity: 0.75;
}
.container {
	width: 100%;
	max-width: 680px;
	margin-inline: auto;
}
.bg-transparent {
	background: var(--background-trans);
}
.gray {
	color: var(--gray);
}
.red {
	color: var(--red);
}
.colored {
	background-image: linear-gradient(to right, #eb3293, #fabb52);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.small {
	font-size: 0.75rem;
}
.thin {
	font-weight: 300;
}
.semibold {
	font-weight: 500;
}
.bold {
	font-weight: bold;
}
.center {
	text-align: center;
}
.text-1 {
	font-size: 1.8rem;
}
.text-2 {
	font-size: 1.5rem;
}
.curved {
	border-radius: 1rem;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item {
	padding: 1rem;
}
.post {
	border-bottom: 1px solid var(--light);
}
.post .handle {
	cursor: pointer;
}
.post .handle:hover {
	text-decoration: underline;
}
.post .body {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}
.animate {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: fadeInDown;
}

#app {
	display: none;
}
#toast {
	position: fixed;
	inset: 0px 0px auto;
	padding: 0.75rem;
	text-align: center;
	background: var(--text);
	color: var(--background);
	z-index: 50;
}
#toast.error {
	background: var(--red);
}
#toast.success {
	background: var(--green);
}
#intro {
	margin: 3rem auto;
}
#login {
	position: fixed;
	inset: 0px;
	background: var(--white);
	margin: 0px;
}
#login .wrap {
	width: 100%;
	max-width: 360px;
	margin: auto;
	padding: 3rem 0px 0px;
}
#login #closeLogin {
	float: right;
	text-decoration: none;
	line-height: 2rem;
	padding: 1rem;
}
#login #passwordwrap {
	position: relative;
}
#login input,
#login button {
	margin: 1rem;
	padding: 0.75rem 1rem;
	width: calc(100% - 2rem);
	box-sizing: border-box;
}
#login #showpass {
	position: absolute;
	right: 1.8rem;
	top: 0.35rem;
	font-size: 1.5rem;
	cursor: pointer;
	opacity: 0.8;
}
#handle {
	font-size: 2rem;
	font-weight: bold;
}
#handle span {
	cursor: pointer;
}
#handle span:hover {
	text-decoration: underline;
	text-decoration-color: var(--brand-color-1);
	text-underline-offset: 0.2rem;
	text-decoration-thickness: 0.2rem;
}
#handle span:before {
	content: "@";
	font-size: 1.8rem;
}
#noposts {
	margin-top: 5rem;
}
#sharebox {
	position: relative;
}
#sharebox #placeholder {
	position: absolute;
	z-index: 5;
	opacity: 0.5;
}
#sharebox #sharefield {
	position: relative;
	z-index: 10;
}
#settingswrap {
	position: fixed;
	inset: 0px;
	z-index: 11;
	overflow: auto;
}
#blanket {
	position: absolute;
	inset: 0px;
	background: var(--text);
	opacity: 0.5;
	z-index: 15;
}
#settings {
	background: var(--white);
	position: relative;
	inset: 6rem auto auto;
	z-index: 20;
	border-radius: 0.5rem;
	max-width: 480px;
	margin: auto;
	box-shadow: 1px 1px 8px 0px var(--gray);
}
#settings .item {
	margin: 0px;
	padding: 1rem;
	border-bottom: 1px solid var(--light);
	text-decoration: none;
}
#settings .item:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
#settings .item:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
#settings .item.link {
	cursor: pointer;
}
#settings .item.link:hover {
	background: var(--light);
}
#settings input {
	padding: 0.1rem 0.5rem;
}
#settings a.item {
	display: block;
}
#settings .paswwordWrap {
	justify-content: unset;
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -2rem, 0);
		transform: translate3d(0, -2rem, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
